<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>538385772410-nk8v861kq88h0ajubr6kmqn45n983te4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538385772410-nk8v861kq88h0ajubr6kmqn45n983te4</string>
	<key>API_KEY</key>
	<string>AIzaSyBfYbm_qPGRDC-1kVpOC9X76vdGtwHfFyI</string>
	<key>GCM_SENDER_ID</key>
	<string>538385772410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dcava.mbass.scoops</string>
	<key>PROJECT_ID</key>
	<string>scoops-7c457</string>
	<key>STORAGE_BUCKET</key>
	<string>scoops-7c457.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:538385772410:ios:1ea790672976e571</string>
	<key>DATABASE_URL</key>
	<string>https://scoops-7c457.firebaseio.com</string>
</dict>
</plist>